@model DonneProject.Models.CadastroSobrev

@{
    ViewData["Title"] = "Delete";
}

<h3 class="m-4 text-center">Tem certeza que deseja apagar o registro?</h3>
<div class="p-3">
    <h4>Sobrevivente:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            CPF
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpf)
        </dd>
        <dt class = "col-sm-2">
            Endereço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            E-mail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            Função a Desempenhar
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncao.NomeFuncao)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Ver a lista completa</a>
    </form>
</div>
