@model DonneProject.Models.CadastroSobrev

@{
    ViewData["Title"] = "Details";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Informações sobre a Donne! @Html.DisplayFor(model => model.Nome)</h2>
</div>

<hr class="p-0 m-0" />
<div class="m-5 d-inline-flex justify-content-center ">
    <div class="container w-75 d-lg-inline-block">
        <dl class="row p-2 table tabela">
        <dt class = "col-sm-4">
            Nome
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-4">
            CPF
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.cpf)
        </dd>
        <dt class = "col-sm-4">
            Endereço
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-4">
            E-mail
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-4">
            Função a Desempenhar
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NomeFuncao.NomeFuncao)
        </dd>
    </dl>
        <div class="row">
            <a class="btn btn-info ml-2 mx-2" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
            <a class="text-primary mx-2" asp-action="Index">Ver Lista de Donnes!</a>
        </div>
    </div>
</div>
