@model IEnumerable<DonneProject.Models.CadastroSobrev>

@{
    ViewData["Title"] = "Index";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Nossas Donnes!</h2>
</div>
<hr class="p-0 m-0"/>


<a class="d-inline-flex align-items-center p-3 btn btn-outline-light m-4 rounded font-weight-bold cadastro" asp-action="Create">
    <span class="material-icons px-1">
        add_circle
    </span>Inserir Nova Sobrevivente
</a>


<table class="table table-striped tabela">
    <thead class="thead-dark">
        <tr>
            <th>
                Nome
            </th>
            <th>
                CPF
            </th>
            <th>
                Endereço
            </th>
            <th>
                E-mail
            </th>
            <th>
                Função Pretendida
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncao.NomeFuncao)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                    <span class="material-icons">
                            edit
                    </span>
                </a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                    <span class="material-icons">
                            info
                    </span>
                </a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <span class="material-icons">
                            delete
                    </span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
