@model DonneProject.Models.CadastroParceiro

@{
    ViewData["Title"] = "Delete";
}

<h3 class="m-4 text-center">Tem certeza que deseja apagar o registro?</h3>

<div class="container-fluid">
    <h4>Parceiro:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Razão Social
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RZsocial)
        </dd>
        <dt class = "col-sm-2">
            Nome do Representante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            CNPJ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cnpj)
        </dd>
        <dt class = "col-sm-2">
            E-mail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            Área de Atuação
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeArea.NomeArea)
        </dd class>
    </dl>
    
    <form  asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Ver a lista completa</a>
    </form>
</div>
