@model IEnumerable<DonneProject.Models.CadastroParceiro>

@{
    ViewData["Title"] = "Index";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Lista de Parceiros!</h2>
</div>


<a class="d-inline-flex align-items-center p-3 btn btn-outline-light m-4 rounded font-weight-bold cadastro" asp-action="Create">
    <span class="material-icons px-1">
        add_circle
    </span>Inserir Novo Parceiro
</a>


<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                Razão Social
            </th>
            <th>
                Nome do Representante
            </th>
            <th>
                CNPJ
            </th>
            <th>
                E-mail
            </th>
            <th>
                Área de Atuação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RZsocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeArea.NomeArea)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                    <span class="material-icons">
                            edit
                    </span>
                </a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                    <span class="material-icons">
                            info
                    </span>
                </a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <span class="material-icons">
                            delete
                    </span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
